body {
	font-family: 'MyriadProRegular', arial;
	}
a {
    color: #49423d;
    text-decoration: none;
}

h2{
	color: #286899;
	text-align:center;
}
/* .btn-primary {
    color: #e59a62;
    background-color: #fff;
    border-color: #e59a62;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #e59a62 !important; 
    background-color: #fff !important;
    border-color: #e59a62!important;
}
 */